{% extends 'base.html.twig' %}

{% block title %}Test Econocom | Home{% endblock %}

{% block body %}

<div class="container">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page"  href="{{path('home',)}}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('square', )}}">Afficher le carré</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link" href="{{path('square', )}}">Afficher le carré : évolution</a>
						</li>
					</ul>
					<!-- <form class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>-->
				</div>
			</div>
		</nav>
		<main>
			<div class="py-5 text-center mt-5">
				<h1>Home</h1>
				<p class="lead">Sujet :

                La solution pourrait évoluer en proposant à l'utilisateur d'afficher le carré selon un nombre choisit au préalable par l'utilisateur

                </p>
				<p> Insérer un nombre pour lancer la nouvelle fonction </p>
				<form  method="post" class="form" id="form" action= "{{path('personne_register',)}}">

					<h2 class="form__title">Choisir un nombre</h2>
					<input type="string" placeholder="Nombre" class="input" name="nombre" id="inputNombre"  required />  
					<button class="btn" type="submit" >Afficher le carré</button>

				</form>
 
			</div>

			<div class="row ">
				<div class="col-md-12 col-lg-12">
						<button class="w-50 btn btn-primary btn-lg mx-auto d-block" onclick=location.href='{{path('squarev2/{slug}',)}}'>Afficher le carré</button> 
				</div>
			</div>


		</main>

{% endblock %}